<div class="about-top">
  <img src="/frontend/assets/1132471.jpg" alt="">
  <div class="about-text-top ">
    <div class="about-bottom-text">
      <div class="about-bottom-alt">
        <h4>KURUMSAL</h4>
      </div>
      <hr class="about-bottom-line" />
      <h6>Hakkımızda</h6>
     
    </div>
  </div>
</div>
<section >
      

  <div class="about-panel">
    <div class="about-area">
      <div class="house-title-area ">
        <hr class="house-underline js-scroll slide-left" />
        <h3 class="text-uppercase js-scroll slide-left">HAKKIMIZDA</h3>
      </div>
      <div class="about-text js-scroll slide-left">
        <h5>
          <%- about.about_text %>
        </h5>
      </div>
    </div>
    <br />
    <br />
    <br />
    <div class="about-area">
      <div class="house-title-area">
        <hr class="house-underline js-scroll slide-left" />
        <h3 class="text-uppercase js-scroll slide-left">BAŞKANIMIZDAN MESAJ</h3>
      </div>
      <div class="about-text js-scroll slide-left">
        <div class="about-pres-img">
          <img src="https://drive.google.com/thumbnail?id=<%- pres.images[0].fotoId %>&sz=w3000" alt="" />
        </div>
        <h5>
          <%- about.about_pres %>
          <br />
          <br />

          <%- pres.name_surname %>
          <br />
          <%- pres.task %>
        </h5>
      </div>
    </div>
  </div>
</section>