<div class="picture-plus">
  <div class="plus-closer">
    <i id="plus-close" class="fa-solid fa-xmark"></i>
  </div>

  <div class="plus-area">
    <i id="plus-left" class="bx bx-chevron-left"></i>
    <div class="plus-image">
      <img src="/frontend/assets/beautiful.jpg" alt="" />
    </div>
    <i id="plus-right" class="bx bx-chevron-right"></i>
  </div>
</div>

<section class="cl">
  <div class="detail-top">
    <div class="detail-text">
      <div class="detail-bottom-text">
        <hr class="detail-bottom-line" />
        <h5>Demir Elit İnşaat</h5>
        <div class="detail-bottom-alt">
          <h4>Kalite, hizmet, güven...</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-panel">
    <div class="detail-top-text js-scroll slide-left">
      <h4><%- apart.project_name %></h4>
      <hr class="detail-top-line" />
    </div>
    <div class="detail-box">
      <div class="detail-right">
        <div class="detail-image js-scroll fade-in">
          <img
            class="detail-image-img"
            src="/frontend/assets/bahce.jpg"
            alt=""
          />

          <div class="detail-click">
            <i class="bx bxs-hand-up"></i>
            <div class="detail-heade">
              <h4 class="detail-image-h4">Büyütmek için Tıklayın</h4>
            </div>
          </div>
        </div>
        <div class="detail-alt-area js-scroll fade-in">
          <i id="detail-alt-left" class="bx bx-chevron-left"></i>
          <div class="detail-alt">
            <% for( let index = 0; index < apart.images.length; index++ ) { %>
            <img
              class="detail-alt-image"
              src="https://drive.google.com/uc?export=view&id=<%- apart.images[index].id %>"
              alt=""
            />
            <% } %>
          </div>
          <i id="detail-alt-right" class="bx bx-chevron-right"></i>
        </div>
        <div class="detail-alt-dots js-scroll fade-in">
          <ul>
            <% for( let index = 0; index < apart.images.length; index++ ) { %>
            <li><i class="bx bxs-circle"></i></li>
            <% } %>
            <!--           
            <li><i class="bx bxs-circle"></i></li>
            <li><i class="bx bxs-circle"></i></li>
            <li><i class="bx bxs-circle"></i></li>
            <li><i class="bx bxs-circle"></i></li>
            <li><i class="bx bxs-circle"></i></li>
            <li><i class="bx bxs-circle"></i></li>
            <li><i class="bx bxs-circle"></i></li> -->
          </ul>
        </div>
        <% if (lastday != null) { %>
          <div class="detail-date-area js-scroll slide-left">
            <div class="detail-title-area">
              <hr class="detail-lineee" />
              <% date = new Date( apart.last_date) %> <% aylar =
              ['01',
              '02',"03","04","05","06","07","08","09","10","11","12"]; %>
 
               
              <h1>Tamamlanma tarihi: <%- date.getDate() + "." + aylar[date.getMonth()] + "." +
                date.getFullYear() %></h1>
              <h2>Kalan süre: <%- lastday %> gün</h2>
              <!-- <hr class="detail-line" /> -->
            </div>
          </div>
        <% } %>
       
      </div>
      <div class="detail-left js-scroll slide-right">
        <div class="detail-title-area">
          <hr class="detail-lineee" />
          <h3>Daire Özellikleri</h3>
          <!-- <hr class="detail-line" /> -->
        </div>
        <div class="detail-card-content">
          <div class="detail-content">
            <div class="detail-det">
              <h2>Oda Sayısı:&nbsp;</h2>
            </div>
            <div class="detail-der">
              <h4><%- apart.room_num %></h4>
            </div>
          </div>
          <div class="detail-content">
            <div class="detail-det">
              <h2>Banyo Sayısı:&nbsp;</h2>
            </div>
            <div class="detail-der">
              <h4><%- apart.bath_num %></h4>
            </div>
          </div>
          <div class="detail-content">
            <div class="detail-det">
              <h2>Brüt m<sup>2</sup> :&nbsp;</h2>
            </div>
            <div class="detail-der">
              <h4><%- apart.brut_m2 %> m<sup>2</sup></h4>
            </div>
          </div>
          <div class="detail-content">
            <div class="detail-det">
              <h2>Net m<sup>2</sup> :&nbsp;</h2>
            </div>
            <div class="detail-der">
              <h4><%- apart.net_m2 %> m<sup>2</sup></h4>
            </div>
          </div>
          <div class="detail-content">
            <div class="detail-det">
              <h2>Blok Sayısı:&nbsp;</h2>
            </div>
            <div class="detail-der">
              <h4><%- apart.block_num %></h4>
            </div>
          </div>
          <div class="detail-content">
            <div class="detail-det">
              <h2>Daire Sayısı:&nbsp;</h2>
            </div>
            <div class="detail-der">
              <h4><%- apart.apart_num %></h4>
            </div>
          </div>
          <div class="detail-content">
            <div class="detail-det">
              <h2>Kat Sayısı:&nbsp;</h2>
            </div>
            <div class="detail-der">
              <h4><%- apart.floors_num %></h4>
            </div>
          </div>
          <div class="detail-ad-content">
            <div class="detail-ad-det">
              <h2>Adres:&nbsp;</h2>
            </div>

            <div class="detail-ad-der">
              <h4><%- apart.adress %></h4>
            </div>
            <div class="det-btn">
              <a href="#map-section">Haritada Görüntüle</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="part-det-line js-scroll fade-in-bottom">
      <hr class="part-det-underline" />
      <div class="part-det-img">
        <img src="/frontend/assets/Just_Logo.png" alt="" />
      </div>
      <hr class="part-det-underline" />
    </div>
    <section>
      <div class="desc-panel js-scroll slide-left">
        <div id="desc-pad">
          <div class="desc-title">
            <h4>Daire Açıklaması</h4>
            <!-- <hr class="desc-text-line" /> -->
          </div>
          <div class="desc-text">
            <h5><%- apart.desc %></h5>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

<section>
  <div class="det-area">
    <div class="det-col js-scroll fade-in-bottom">
      <div class="det-icon">
        <i id="ic" class="fa-solid fa-car-side"></i>
      </div>
      <div class="det-desc">
        <div class="det-title">
          <h4>Otopark</h4>
          <hr class="det-line" />
        </div>

        <div class="det-text">
          <div class="det-sla">
            <div class="det-bas">
              <h5>Açık:&nbsp;</h5>
            </div>
            <div class="det-cli">
              <% if (apart.checkbox.open_otopark == "checked") { %>
              <i class="bx bx-check"></i>
              <% } else { %>
              <i class="bx bx-x"></i>
              <% } %> 
            </div>
          </div>
          <div class="det-sla">
            <div class="det-bas">
              <h5>Kapalı:&nbsp;</h5>
            </div>
            <div class="det-cli">
              <% if (apart.checkbox.closed_otopark == "checked") { %>
              <i class="bx bx-check"></i>
              <% } else { %>
              <i class="bx bx-x"></i>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="det-col js-scroll fade-in-bottom">
      <div class="det-icon">
        <i id="ic" class="fa-solid fa-map-pin"></i>
      </div>
      <div class="det-desc">
        <div class="det-title">
          <h4>Yakınlık</h4>
          <hr class="det-line" />
        </div>

        <div class="det-text">
          <div class="det-sla">
            <div class="det-bas">
              <h5>Okul:&nbsp;</h5>
            </div>
            <div class="det-cli">
              <% if (apart.checkbox.school == "checked") { %>
              <i class="bx bx-check"></i>
              <% } else { %>
              <i class="bx bx-x"></i>
              <% } %>
            </div>
          </div>
          <div class="det-sla">
            <div class="det-bas">
              <h5>Eczane:&nbsp;</h5>
            </div>
            <div class="det-cli">
              <% if (apart.checkbox.pharmacy == "checked") { %>
              <i class="bx bx-check"></i>
              <% } else { %>
              <i class="bx bx-x"></i>
              <% } %>
            </div>
          </div>
          <div class="det-sla">
            <div class="det-bas">
              <h5>Sağlık Ocağı:&nbsp;</h5>
            </div>
            <div class="det-cli">
              <% if (apart.checkbox.clinic == "checked") { %>
              <i class="bx bx-check"></i>
              <% } else { %>
              <i class="bx bx-x"></i>
              <% } %>
            </div>
          </div>
          <div class="det-sla">
            <div class="det-bas">
              <h5>Camii:&nbsp;</h5>
            </div>
            <div class="det-cli">
              <% if (apart.checkbox.mosque == "checked") { %>
              <i class="bx bx-check"></i>
              <% } else { %>
              <i class="bx bx-x"></i>
              <% } %>
            </div>
          </div>
          <div class="det-sla">
            <div class="det-bas">
              <h5>Otobüs Durağı:&nbsp;</h5>
            </div>
            <div class="det-cli">
              <% if (apart.checkbox.bus_station == "checked") { %>
              <i class="bx bx-check"></i>
              <% } else { %>
              <i class="bx bx-x"></i>
              <% } %>
            </div>
          </div>
          <div class="det-sla">
            <div class="det-bas">
              <h5>Park:&nbsp;</h5>
            </div>
            <div class="det-cli">
              <% if (apart.checkbox.park == "checked") { %>
              <i class="bx bx-check"></i>
              <% } else { %>
              <i class="bx bx-x"></i>
              <% } %>
            </div>
          </div>
          <div class="det-sla">
            <div class="det-bas">
              <h5>Market:&nbsp;</h5>
            </div>
            <div class="det-cli">
              <% if (apart.checkbox.market == "checked") { %>
              <i class="bx bx-check"></i>
              <% } else { %>
              <i class="bx bx-x"></i>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="det-col js-scroll fade-in-bottom">
      <div class="det-icon">
        <i id="ic" class="fa-solid fa-bus"></i>
      </div>
      <div class="det-desc">
        <div class="det-title">
          <h4>Ulaşım</h4>
          <hr class="det-line" />
        </div>

        <div class="det-text">
          <h5>
            <%- apart.access %>
          </h5>
        </div>
      </div>
    </div>
    <div class="det-col js-scroll fade-in-bottom">
      <div class="det-icon">
        <i id="ic" class="fa-solid fa-phone"></i>
      </div>
      <div class="det-desc">
        <div class="det-title">
          <h4>Detaylı Bilgi İçin</h4>
          <hr class="det-line" />
        </div>
        <div class="det-text">
          <h5><%- contact.phone1 %></h5>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="map-section">
  <div class="detail-map">
    <div class="detail-map-title">
      <h4>Konum</h4>
      <hr class="detail-map-line" />
    </div>
    <%- apart.location_url %>
  </div>
</section>
