<div id="wrapper">
  <div id="slider-wrap">
    <ul id="slider">
      <% for( let index = 0; index < apart.length; index++ ) { %>
        <li>
    
          <img src="https://drive.google.com/uc?export=view&id=<%- apart[index].images[0].id %>" alt="" />
          <div class="header-shad"></div>
          <div class="header-text">
            <h3><%- apart[index].project_name %></h3>
          </div>
        </li>
      <% } %>
      

     
    </ul>

    <div class="btns" id="next"><i class="bx bx-right-arrow-alt"></i></div>
    <div class="btns" id="previous">
      <i class="bx bx-left-arrow-alt"></i>
    </div>

    <div style="display: flex; flex-direction: column; align-items: center">
      <div id="pagination-wrap">
        <ul></ul>
      </div>
    </div>
  </div>
</div>



<section>
  <div class="main-panel">
    <div class="main-title-area">
      <hr class="why-underline" />
      <h2>NEDEN "DEMİR ELİT İNŞAAT"?</h2>

      <h4>
        <%- why.alt_metin %>
      </h4>
    </div>

    <div class="why-col">
      <div class="card why-item js-scroll slide-left">
        <div class="why-icon">
          <i class="fa-solid fa-face-smile"></i>
        </div>
        <div class="why-text">
          <h5>Memnuniyet</h5>

          <h6>
            <%- why.memnuniyet %>
          </h6>
        </div>
      </div>
      <div class="card why-item js-scroll slide-right">
        <div class="why-icon">
          <i class="fa-solid fa-helmet-safety"></i>
        </div>
        <div class="why-text">
          <h5>Uzman Kadro</h5>

          <h6>
            <%- why.uzman_kadro %>
          </h6>
        </div>
      </div>
      <div class="card why-item js-scroll slide-left">
        <div class="why-icon">
          <i class="fa-solid fa-handshake"></i>
        </div>
        <div class="why-text">
          <h5>Güven</h5>

          <h6>
            <%- why.guven %>
          </h6>
        </div>
      </div>
      <div class="card why-item js-scroll slide-right">
        <div class="why-icon">
          <i class="fa-solid fa-users"></i>
        </div>
        <div class="why-text">
          <h5>Takım Çalışması</h5>

          <h6>
            <%- why.takim_calismasi %>
          </h6>
        </div>
      </div>
      <div class="card why-item js-scroll slide-left">
        <div class="why-icon">
          <i class="fa-solid fa-building-circle-check"></i>
        </div>
        <div class="why-text">
          <h5>Kalite</h5>

          <h6>
            <%- why.kalite %>
          </h6>
        </div>
      </div>
      <div class="card why-item js-scroll slide-right">
        <div class="why-icon">
          <i class="fa-solid fa-stopwatch"></i>
        </div>
        <div class="why-text">
          <h5>Anında Teslim</h5>

          <h6>
            <%- why.aninda_teslim %>
          </h6>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="statistics">
  <div class="statistics-box js-scroll fade-in-bottom" id="card-delay-1">
    <div class="statistics-icon mb-3">
      <i class="fa-solid fa-calendar-days"></i>
    </div>
    <div class="statistics-text">
      <h5 class="count" data-val="<%- static.yillar %>">00</h5>
      <br />
      <h6>Yıllık Tecrübe</h6>
    </div>
  </div>

  <div class="statistics-box js-scroll fade-in-bottom" id="card-delay-2">
    <div class="statistics-icon mb-3">
      <i class="fa-solid fa-building-circle-check"></i>
    </div>
    <div class="statistics-text">
      <h5 class="count" data-val="<%- static.tamam_proje %>">000</h5>
      <br />
      <h6>Tamamlanan Projeler</h6>
    </div>
  </div>


  <div class="statistics-box js-scroll fade-in-bottom" id="card-delay-3">
    <div class="statistics-icon mb-3">
      <i class="fa-solid fa-building-circle-arrow-right"></i>
    </div>
    <div class="statistics-text">
      <h5 class="count" data-val="<%- static.devam_proje %>">000</h5>
      <br />
      <h6>Devam Eden Projeler</h6>
    </div>
  </div>

  <div class="statistics-box js-scroll fade-in-bottom" id="card-delay-4">
    <div class="statistics-icon mb-3">
      <i class="fa-regular fa-face-laugh-beam"></i>
    </div>
    <div class="statistics-text">
      <h5 class="count" data-val="<%- static.musteri %>">000</h5>
      <br />
      <h6>Mutlu Müşteri</h6>
    </div>
  </div>
</section>

<section id="house">
  <div class="house-title-area">
    <hr class="house-underline" />
    <h3 class="text-uppercase">PROJELER</h3>
    <h5>
      <%- projects.alt_metin %>
    </h5>
  </div>

  <div class="house-col ">
   

    <% for( let index = 0; index < apar.length; index++ ) { %>
      <div class="house-item js-scroll slide-left">
        <img class="img-fluid-p" src="https://drive.google.com/uc?export=view&id=<%- apar[index].images[0].id %>" alt="" />
        <div class="house-text">
          <h2><%- apar[index].project_name %></h2>
        </div>
        <div class="house-overlay">
          <div class="house-text-hover">
            <a href="/daire-detay/<%- apar[index].id %>" class="btn-incele">İncele</a>
            <h4><%- apar[index].adress %></h4>
          </div>
        </div>
      </div>
    <% } %>
    


  <div class="house-btn-project js-scroll fade-in-bottom">
    <a href="/daireler" class="btn-project">
      Tüm Projeler&nbsp;
      <i class="fa-solid fa-arrow-right"></i>
    </a>
  </div>
</div>
</section>

<div class="part-line">
  <hr class="part-underline" />
  <div class="part-img">
    <img src="/frontend/assets/Just_Logo.png" alt="" />
  </div>
  <hr class="part-underline" />
</div>

<section id="cardboard">
  <div class="cardboard-title-area">
    <hr class="cardboard-underline" />
    <h2 class="text-uppercase">HABERLER</h2>

    <h4>
      <%- haber.alt_metin %>
    </h4>
  </div>

  <div class="cardboard-col">
    <div class="customer-logos slider js-scroll fade-in-bottom">
      <% for( let index = 0; index < news.length; index++ ) { %>
        <div class="slide">
          <div class="colu">
            <div class="cardboard-item">
              <% if (news[index].images[0] != undefined && news[index].news_url == "") { %>
                <img class="card-img-top" src="https://drive.google.com/uc?export=view&id=<%- news[index].images[0].id %>" alt="Card image cap">
            <% } else { %> 
              <%- news[index].news_url %>
              
              <% } %>
           
              <div class="cardboard-text">
                <h5><%- news[index].news_name %></h5>
                <a href="/haber-detay/<%- news[index].id %>">İzle</a>
              </div>
            </div>
          </div>
        </div>
      <% } %>
      
     
     
    </div>
  </div>
  <div class="house-btn-project js-scroll fade-in-bottom">
    <a href="/haberler" class="btn-project">
      Tüm Haberler
      
    </a>
  </div>
</section>