<div class="about-top">
  <img src="/frontend/assets/1132471.jpg" alt="">
  <div class="about-text-top">
    <div class="about-bottom-text">
      <div class="about-bottom-alt">
        <h4>KURUMSAL</h4>
      </div>
      <hr class="about-bottom-line" />
      <h6>Ekibimiz</h6>
    </div>
  </div>
</div>
<section >
  
  <div class="about-panel">
    <div class="about-area">
      <div class="house-title-area">
        <hr class="house-underline js-scroll slide-left" />
        <h3 class="text-uppercase js-scroll slide-left">Ekibimiz</h3>
      </div>
      <div class="ek-area">
        <div class="ek-col-pres">
          <div class="ek-pres js-scroll fade-in-bottom">
            <div class="ek-pres-img">
              <img src="https://drive.google.com/uc?export=view&id=<%- pres.images[0].id %>" alt="" />
            </div>
            <div class="ek-pres-text">
              <h1><%- pres.name_surname %></h1>
              <h4><%- pres.task %></h4>
            </div>
          </div>
        </div>
        <div class="ek-col">
          <% for( let index = 0; index < ekip.length; index++ ) { %>
            <div class="ek-pres js-scroll fade-in-bottom">
              <div class="ek-img">
                <img src="https://drive.google.com/uc?export=view&id=<%- ekip[index].images[0].id %>" alt="" />
              </div>
              <div class="ek-pres-text">
                <h1><%- ekip[index].name_surname %></h1>
                <h4><%- ekip[index].task %></h4>
              </div>
            </div>
          <% } %>
         
       
        </div>
      </div>
    </div>
    <br />
   
    <div class="about-area js-scroll slide-left">
      <div class="about-text">
        <h5>
        <%- desc.team_desc %>
       
        </h5>
      </div>
    </div>
  </div>
</section>