<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-1">
        <div
          class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
        >
          <h4 class="text-white text-capitalize ps-4">PROJE EKLE</h4>
        </div>
        <div class="card-body">
          <h6 class="text-secondary">
            Bu panel üzerinden yeni proje ekleyebilirsiniz.
          </h6>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="card-body px-0 pb-2">
          <form
            action="/yonetim/projeler/daire-ekle"
            method="post"
            enctype="multipart/form-data"
            id="my-form"
          >
            <div class="col-8 mx-auto">
              <div class="multiple-uploader" id="multiple-uploader">
                <div class="mup-msg">
                  <span class="mup-main-msg"
                    >Resim yüklemek için tıklayınız</span
                  >
                  <span class="mup-msg" id="max-upload-number"
                    >En fazla 8 fotoğraf yükleyebilirsiniz</span
                  >
                  <span class="mup-msg">Sadece resim dosyası yükleyiniz</span>
                </div>
              </div>

              <script src="/admin/js/multiple-uploader.js"></script>
              <script>
                let multipleUploader = new MultipleUploader(
                  "#multiple-uploader"
                ).init({
                  maxUpload: 8, // maximum number of uploaded images
                  maxSize: 3, // in size in mb
                  filesInpName: "images", // input name sent to backend
                  formSelector: "#my-form", // form selector
                });
              </script>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="input-group input-group-static mb-4 px-5">
                  <label>Proje Adı</label>
                  <input
                    value="<%= typeof project_name != 'undefined' ? project_name : '' %>"
                    type="text"
                    class="form-control"
                    name="project_name"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleSelectGender">Projenin Durumu</label>
                  <select
                    class="form-control"
                    name="project_status"
                    id="exampleSelectGender"
                  >
                    <option value="Tamamlandı">Tamamlandı</option>
                    <option value="Devam Ediyor">Devam Ediyor</option>
                    <option value="Planlandı">Planlandı</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row px-5 justify-content-between my-1">
              <div class="col-md-1 px-1 mx-1">
                <div class="input-group input-group-static mb-4 px-1">
                  <label>Oda Sayısı</label>
                  <input
                    value="<%= typeof room_num != 'undefined' ? room_num : '' %>"
                    type="text"
                    class="form-control"
                    name="room_num"
                  />
                </div>
              </div>
              <div class="col-md-1 px-1 mx-1">
                <div class="input-group input-group-static mb-4 px-1">
                  <label>Banyo Sayısı</label>
                  <input
                    value="<%= typeof bath_num != 'undefined' ? bath_num : '' %>"
                    type="text"
                    class="form-control"
                    name="bath_num"
                  />
                </div>
              </div>
              <div class="col-md-1 px-1">
                <div class="input-group input-group-static mb-4 px-1">
                  <label>Brüt m<sup>2</sup></label>
                  <input
                    value="<%= typeof brut_m2 != 'undefined' ? brut_m2 : '' %>"
                    type="text"
                    class="form-control"
                    name="brut_m2"
                  />
                </div>
              </div>
              <div class="col-md-1 px-1">
                <div class="input-group input-group-static mb-4 px-1">
                  <label>Net m<sup>2</sup></label>
                  <input
                    value="<%= typeof net_m2 != 'undefined' ? net_m2 : '' %>"
                    type="text"
                    class="form-control"
                    name="net_m2"
                  />
                </div>
              </div>
              <div class="col-md-1 px-1">
                <div class="input-group input-group-static mb-4 px-1">
                  <label>Blok Sayısı</label>
                  <input
                    value="<%= typeof block_num != 'undefined' ? block_num : '' %>"
                    type="text"
                    class="form-control"
                    name="block_num"
                  />
                </div>
              </div>
              <div class="col-md-1 px-1">
                <div class="input-group input-group-static mb-4 px-1">
                  <label>Daire Sayısı</label>
                  <input
                    value="<%= typeof apart_num != 'undefined' ? apart_num : '' %>"
                    type="text"
                    class="form-control"
                    name="apart_num"
                  />
                </div>
              </div>
              <div class="col-md-1 px-1">
                <div class="input-group input-group-static mb-4 px-1">
                  <label>Kat Sayı</label>
                  <input
                    value="<%= typeof floors_num != 'undefined' ? floors_num : '' %>"
                    type="text"
                    class="form-control"
                    name="floors_num"
                  />
                </div>
              </div>
            </div>
            <div class="row px-5 justify-content-between my-1">
              <div class="col-md-5">
                <div class="input-group input-group-static mb-4">
                  <label>Adres</label>
                  <input
                    class="form-control"
                    rows="5"
                    name="adress"
                    value="<%= typeof adress != 'undefined' ? adress : '' %>"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group input-group-static">
                  <label>Açıklama</label>
                  <input
                    class="form-control"
                    rows="5"
                    name="desc"
                    value="<%= typeof desc != 'undefined' ? desc : '' %>"
                  />
                </div>
              </div>
            </div>
            <div class="row px-5 justify-content-between mt-4">
              <div class="col-md-5">
                <div class="input-group input-group-static">
                  <label>Adres Linki</label>
                  <input
                    class="form-control"
                    rows="5"
                    name="location_url"
                    value='<%= typeof location_url != 'undefined' ? location_url : '' %>'
                  />
                </div>
              </div>
            </div>
            <div class="row px-6 justify-content-center mt-6">
              <div class="col-md-3">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="otopark_check"
                    id="flexCheckDefault"
                    value="true"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    Otopark
                  </label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="locat_check"
                    id="flexCheckDefault"
                    value="true"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    Merkeze Yakınlık
                  </label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="transfer_check"
                    id="flexCheckDefault"
                    value="true"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    Ulaşım Kolaylığı
                  </label>
                </div>
              </div>
            </div>

            <div class="card-body px-6">
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button
                onclick="btn(this)"
                  type="submit"
                  class="btn btn-info"
                  id="load2"
                  data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing Order"
                  
                  >
                  Proje Ekle
                </button>
              </div>
              <script src="/admin/js/btn.js"></script>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
