<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-1">
        <div
          class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
        >
          <h4 class="text-white text-capitalize ps-4">PROJE GÜNCELLE</h4>
        </div>
        <div class="card-body">
          <h6 class="text-secondary">
            Bu panel üzerinden projelerinizi güncelleyebilirsiniz.
          </h6>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="card-body px-0 pb-2">
          <form action="/yonetim/projeler/daire-guncelle" method="post">
            <div class="row">
              <div class="col-md-6">
                <div class="input-group input-group-static mb-4 px-5">
                  <label>Proje Adı</label>
                  <input
                    value="<%- apart.project_name %>"
                    type="text"
                    class="form-control"
                    name="project_name"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleSelectGender">Projenin Durumu</label>
                  <select
                    class="form-control"
                    name="project_status"
                    id="exampleSelectGender"
                  >
                    <option value="Tamamlandı" <%- op1 %>>Tamamlandı</option>
                    <option value="Devam Ediyor" <%- op2 %>
                      >Devam Ediyor
                    </option>
                    <option value="Planlandı" <%- op3 %>>Planlandı</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row px-5 justify-content-between my-1">
              <div class="col-md-1 px-1 mx-1">
                <div class="input-group input-group-static mb-4 px-1">
                  <label>Oda Sayısı</label>
                  <input
                    value="<%- apart.room_num %>"
                    type="text"
                    class="form-control"
                    name="room_num"
                  />
                </div>
              </div>
              <div class="col-md-1 px-1 mx-1">
                <div class="input-group input-group-static mb-4 px-1">
                  <label>Banyo Sayısı</label>
                  <input
                    value="<%- apart.bath_num %>"
                    type="text"
                    class="form-control"
                    name="bath_num"
                  />
                </div>
              </div>
              <div class="col-md-1 px-1">
                <div class="input-group input-group-static mb-4 px-1">
                  <label>Brüt m<sup>2</sup></label>
                  <input
                    value="<%- apart.brut_m2 %>"
                    type="text"
                    class="form-control"
                    name="brut_m2"
                  />
                </div>
              </div>
              <div class="col-md-1 px-1">
                <div class="input-group input-group-static mb-4 px-1">
                  <label>Net m<sup>2</sup></label>
                  <input
                    value="<%- apart.net_m2 %>"
                    type="text"
                    class="form-control"
                    name="net_m2"
                  />
                </div>
              </div>
              <div class="col-md-1 px-1">
                <div class="input-group input-group-static mb-4 px-1">
                  <label>Blok Sayısı</label>
                  <input
                    value="<%- apart.block_num %>"
                    type="text"
                    class="form-control"
                    name="block_num"
                  />
                </div>
              </div>
              <div class="col-md-1 px-1">
                <div class="input-group input-group-static mb-4 px-1">
                  <label>Daire Sayısı</label>
                  <input
                    value="<%- apart.apart_num %>"
                    type="text"
                    class="form-control"
                    name="apart_num"
                  />
                </div>
              </div>
              <div class="col-md-1 px-1">
                <div class="input-group input-group-static mb-4 px-1">
                  <label>Kat Sayı</label>
                  <input
                    value="<%- apart.floors_num %>"
                    type="text"
                    class="form-control"
                    name="floors_num"
                  />
                  <input type="hidden" name="id" value="<%- apart.id %>" />
                </div>
              </div>
            </div>
            <div class="row px-5 justify-content-between my-1">
              <div class="col-md-5">
                <div class="input-group input-group-static mb-4"">
                <label>Adres</label>
                <input
                  class="form-control"
                  rows="5"
                  name="adress"
                  value="<%- apart.adress %>"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group input-group-static my-1">
                <label>Açıklama</label>
                <input
                  class="form-control"
                  rows="5"
                  name="desc"
                  value="<%- apart.desc %>"
                />
              </div>
            </div>

            <div class="row justify-content-between mt-4">
              <div class="col-md-5">
                <div class="input-group input-group-static">
                  <label>Adres Linki</label>
                  <input
                    class="form-control"
                    rows="5"
                    name="location_url"
                    value='<%- apart.location_url %>'
                  />
                </div>
              </div>
            </div>
            <div class="row px-6 justify-content-center mt-6">
              <div class="col-md-3">
                <div class="form-check mx-4">
                  <small class="lead"><u>Otopark</u></small>
                </div>
                <div class="form-check ">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="otopark_check"
                    id="flexCheckDefault"
                    value="true"
                  />
                  <label class="form-check-label" >
                    Açık Otopark
                  </label>
                </div>
                <div class="form-check ">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="otopark_check"
                    id="flexCheckDefault"
                    value="true"
                  />
                  <label class="form-check-label" >
                    Kapalı Otopark
                  </label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-check mx-4">
                  <small class="lead"><u>Yakınlık</u></small>
                </div>
             
                <div class="form-check ">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="otopark_check"
                    id="flexCheckDefault"
                    value="true"
                  checked/>
                  <label class="form-check-label" >
                    Okul
                  </label>
                </div>
                <div class="form-check ">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="otopark_check"
                    id="flexCheckDefault"
                    value="true"
                  />
                  <label class="form-check-label" >
                    Eczane 
                  </label>
                </div>
                <div class="form-check ">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="otopark_check"
                    id="flexCheckDefault"
                    value="true"
                  />
                  <label class="form-check-label" >
                    Sağlık Ocağı 
                  </label>
                </div>
                <div class="form-check ">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="otopark_check"
                    id="flexCheckDefault"
                    value="true"
                  />
                  <label class="form-check-label" >
                    Camii
                  </label>
                </div>
                <div class="form-check ">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="otopark_check"
                    id="flexCheckDefault"
                    value="true"
                  />
                  <label class="form-check-label" >
                    Otobüs Durağı
                  </label>
                </div>
                <div class="form-check ">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="otopark_check"
                    id="flexCheckDefault"
                    value="true"
                  />
                  <label class="form-check-label" >
                    Park
                  </label>
                </div>
                <div class="form-check ">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="otopark_check"
                    id="flexCheckDefault"
                    value="true"
                  />
                  <label class="form-check-label" >
                    Market
                  </label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-check mx-4">
                  <small class="lead"><u>Ulaşım Kolaylığı</u></small>
                </div>
                <div class="input-group input-group-static my-auto">
         
                  <input
                    class="form-control"
                    rows="5"
                    name="desc"
                    value=""
                    
                  />
                </div>
              </div>
            </div>

            <div class="card-body px-6">
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button
                  onclick="btn(this)"
                  type="submit"
                  class="btn btn-success"
                  id="load2"
                  data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing Order"
                >
                  Proje Güncelle
                </button>
              </div>
            </div>
            <script src="/admin/js/btn.js"></script>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
