<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-1">
        <div
          class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
        >
          <h4 class="text-white text-capitalize ps-4">MESAJLAR</h4>
        </div>
        <div class="card-body">
          <h6 class="text-secondary">
            Bu panel üzerinden gelen mesajlara ulaşabilir, detaylıca
            okuyabilirsiniz.
          </h6>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th
                  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >
                  Gönderen Adı-Soyadı
                </th>
                <th
                  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                >
                  Başlık
                </th>

                <th
                  class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >
                  Gönderilme Tarihi
                </th>
                <th
                  class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >
                  Durum
                </th>
                <th
                  class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >
                  Oku
                </th>
                <th
                  class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >
                  Sil
                </th>
              </tr>
            </thead>
            <tbody>
              <% for( let index = 0; index < message.length; index++ ) { %>
              <tr>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm">
                        <%- message[index].name %> <%- message[index].surname %>
                      </h6>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-xs font-weight-bold mb-0">
                    <%- message[index].title %>
                  </p>
                </td>

                <td>
                  <% date = new Date( message[index].createdAt) %> <% aylar =
                  ['01',
                  '02',"03","04","05","06","07","08","09","10","11","12"]; %>
                  <p class="text-xs text-center font-weight-bold mb-0">
                    <%- date.getDate() + "." + aylar[date.getMonth()] + "." +
                    date.getFullYear() %>
                  </p>
                </td>

                <td>
                  <% if (message[index].read == false) { %>
                  <p
                    class="text-xs text-center font-weight-bold mb-0 text-danger"
                  >
                    Okunmadı
                  </p>

                  <% } else if (message[index].read == true) { %>
                  <p
                    class="text-xs text-center font-weight-bold mb-0 text-success"
                  >
                    Okundu
                  </p>
                  <% } %>
                </td>

                <td class="align-middle text-center">
                  <a
                    onclick="btn(this)"
                    href="/yonetim/mesajlar/mesaj-detay/<%- message[index].id %>"
                    class="btn bg-gradient-success shadow-success"
                  >
                    OKU
                  </a>
                </td>
                <td class="align-middle text-center">
                  <a
                    onclick="btn(this)"
                    href="/yonetim/mesajlar/mesaj-sil/<%- message[index].id %>"
                    class="btn bg-gradient-danger shadow-danger"
                  >
                    SİL
                  </a>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

      <script src="/admin/js/btn.js"></script>
    </div>
  </div>
</div>
