<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-1">
        <div
          class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
        >
          <h4 class="text-white text-capitalize ps-4">EKİBİMİZ</h4>
        </div>
        <div class="card-body">
          <h6 class="text-secondary">
            Bu panel üzerinden yeni ekip arkadaşı ekleyebilir, ekibiniz ile
            ilgili bilgileri güncelleyebilirsiniz.
          </h6>
        </div>
      </div>
      <div class="card-body py-0">
        <div class="row my-2">
          <div class="card-header py-1"><h4>BAŞKAN</h4></div>
        </div>
        <div class="row">
          <div class="card d-inline-flex mx-1 my-4" style="width: 18rem">
          
            <% if (pres[0].images != undefined) { %>
            <img
              class="card-img-top"
              src="https://drive.google.com/thumbnail?id=<%- pres[0].images[0].fotoId %>&sz=w3000"
              alt="Card image cap"
            />
            <% } %>

            <div class="card-body">
              <h5 class="card-title"><%- pres[0].name_surname %></h5>
              <p class="card-text"><%- pres[0].task %></p>
              <a
                onclick="btn(this)"
                href="/yonetim/ekibimiz/baskan/<%- pres[0].id %>"
                class="d-inline m-2 btn bg-gradient-success shadow-succes"
                >GÜNCELLE</a
              >
            </div>
          </div>
        </div>
        <div class="row my-2">
          <div class="card-header py-1"><h4>EKİP</h4></div>
        </div>
        <div class="row">
          <% for( let index = 0; index < ekip.length; index++ ) { %>
          <div class="card d-inline-flex mx-1 my-4" style="width: 18rem">
            <% if (ekip[index].images != "") { %>
              <img
              class="card-img-top"
              src="https://drive.google.com/thumbnail?id=<%- ekip[index].images[0].fotoId %>&sz=w3000"
              alt="Card image cap"
            />
            <% } %>
           

            <div class="card-body">
              <h5 class="card-title"><%- ekip[index].name_surname %></h5>
              <p class="card-text"><%- ekip[index].task %></p>
              <a
                onclick="btn(this)"
                href="/yonetim/ekibimiz/ekip-guncelle/<%- ekip[index].id %>"
                class="d-inline m-2 btn bg-gradient-success shadow-succes"
                >GÜNCELLE</a
              >
              <a
                onclick="btn(this)"
                href="/yonetim/ekibimiz/ekip-sil/<%- ekip[index].id %>"
                class="d-inline m-2 btn bg-gradient-danger shadow-danger"
                >SİL</a
              >
            </div>
          </div>
          <% } %>

          <div class="card-body px-6">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <a
                onclick="btn(this)"
                href="/yonetim/ekibimiz/ekip-ekle"
                class="btn bg-gradient-info"
                >Ekip Arkadaşı Ekle</a
              >
            </div>
          </div>
        </div>
        <div class="row my-2">
          <div class="card-header py-1"><h4>AÇIKLAMA</h4></div>
        </div>
        <div class="row">
          <p class="card-text"><%- desc.team_desc %></p>
          <div class="card-body px-6">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <a
                onclick="btn(this)"
                href="/yonetim/ekibimiz/aciklama"
                class="btn bg-gradient-success shadow-success"
                >Metni Güncelle</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    const iframe = document.querySelectorAll("iframe");
    console.log(iframe.length);

    for (let index = 0; index < iframe.length; index++) {
      iframe[index].removeAttribute("height");
      iframe[index].removeAttribute("width");
      iframe[index].classList.add("embed-responsive-item");
      iframe[index].style.width = "100%";
    }
  </script>
  <script src="/admin/js/btn.js"></script>
</div>
